header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'PT Sans', sans-serif;
}

.title {
   margin-left: 120px;
}

.right-header-div {
  display: flex;
  width: 300px;
  justify-content: space-around;
  align-items: center;
}
h1 {
  font-size: 200%;
  text-align: center;
}
