@import './_buttons.scss';
@import './_header.scss';
@import './_login';
@import './_tripcards.scss';
@import './_bookform.scss';

/* This is an example of using Sass, otherwise plain CSS works too*/
// $primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
// ;
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: arial;
  background-image: url('../images/plane.jpg');
  background-size: cover;
}

.hidden {
  display: none !important;
}
